.footer {
 text-align: center;
  padding: 1rem;
  background-color: #f9f9f9;
  color: #555;
}

.footer-content {
  max-width: 960px;
  margin: 0 auto;
}

.footer-links {
  margin-top: 0.8rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.footer-links a {
  color: #00ffd0;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #fff;
}
